<!-- sessions.new.html.erb -->
<br>
<h1>ClassyParent Log in</h1>
<br>
<br>
<%= form_for @parent, url: {controller: :sessions, action: :create} do |f| %>
<%= f.label :email %>
<%= f.text_field :email %>
<br>
<br>
<%= f.label	:password %>
<%= f.text_field :password%>
<br>
<br>
<%= f.submit "login" %>
<% end %>



