<!-- child.edit.html.erb -->
<div class="child_clr">
<br>
<h1>Edit Your Child's Info</h1>
  <div class="belly_div">
  <br>
     <%= simple_form_for @child do |f| %>
        <%= f.input :fname, label: false %> 
        <%= f.input :lname, label: false %>
        <%= f.input :nickname, label: false %>
        <%= f.input :age_years, label: false, placeholder: "Child's age" %>
        <%= f.input :bdaymonth, label: false, placeholder: "Child's Birthday Month" %>
        <%= f.input :hobbyteachone, label: false %>
        <%= f.input :hobbyteachtwo, label: false, placeholder: "Sports Team or Relgious School"  %>
        <%= f.input :hobbyteachthree, label: false, placeholder: "Favorite Social Hobby" %>
        <br>
       <%= f.button :submit, "Update Child's Info", class: "my-button" %>
      <% end %>
   <br>
  </div><!--  close belly_div -->
</div><!--  close child_clr -->
<br>
<br>
<%= link_to "Return to your Family Listing", parent_path(@parent.id) %>
<br>
<br>
<%= link_to "Add Your Child's School and Activity Details", new_child_school_hobby_path(child_id: @child.id) %> 
<br>
<br>
<%= link_to "Look at a list of friends and potential playmates", children_path %>


