<!-- child.edit.html.erb -->
<br>
<h3>Edit Your Child's Account Info</h3>
<h1>Child Info form</h1>
<br>
   <%= form_for @child do |f| %>

      <%= f.label :FirstName %> <%= f.text_field :fname %><br>

      <%= f.label :LastName %> <%= f.text_field :lname %><br>

      <%= f.label :nickname %> <%= f.text_field :nickname %><br>

      <%= f.label :ParentName %> <%= f.text_field :parent_name %><br>

      <%= f.label :Public_School %> <%= f.text_field :hobbyteachone %><br>

      <%= f.label :Favorite_Group_Hobby %> <%= f.text_field :hobbyteachtwo %><br>

      <%= f.label :Hobby_Class2 %> <%= f.text_field :hobbyteachthree %><br>

      <%= f.label :Hobby_Class3 %> <%= f.text_field :hobbyteachfour %><br>
      <%= f.submit "update" %>
    <% end %>
<br>
<br>
<%= link_to "Add more parents", new_parent_path %>
<br>
<%= link_to "Add More Kids", new_child_path %>
<br>
<%= link_to "Log Out", logout_path, method: :delete %>


