<!-- child.show.html.erb -->

<div class="child_clr">
<br>
<h1>Child Interest Info</h1>
<div class="belly_div">
<u>Full Name</u>:&nbsp<%= "#{@child.fname} #{@child.lname}" %><br>
<u>Nickname</u>:&nbsp<%= "#{@child.nickname}" %><br>
<u>Child's Age in Years</u>:&nbsp<%= "#{@child.age_years}" %><br>
<u>Child's Birthday Month</u>:&nbsp<%= "#{@child.bdaymonth}" %><br>
<u>Elementary School</u>:&nbsp<%= "#{@child.hobbyteachone}" %><br>
<u>Favorite Group Hobby</u>:&nbsp<%= "#{@child.hobbyteachtwo}" %><br>
<u>Other Favoite Hobby</u>:&nbsp<%= "#{@child.hobbyteachthree}" %><br>
</div><!--  close belly div -->
<br>
<br>
<br>
</div><!--  close child_clr -->
<div class="yellow_e_div">
	<%= link_to "Edit your child's info", edit_child_path(@child.id) %>
</div>
<div class="pink_e_div">
	<%= link_to "Return to your Family Listing", parent_path(@parent.id) %>
</div>
<div class="pink_e_div"> 
	<%= link_to "List of friends and potential playmates", children_path(child_id: @child.id) %>
</div>	
<div class="yellow_e_div">
	<%= link_to "Add Your Child's School and Activity Details", new_child_school_hobby_path(child_id: @child.id) %> 
</div>
<br>

