<!-- school.show.html.erb -->
<br>
<h1>School, Class or Hobby Info</h1>
<br>
<br>
<h3><%= "Teacher or Coach Name:  #{@school.teachername}" %></h3>
<br>
<h3><%= "Class Name:  #{@school.class_name}" %></h3>
<br>
<h3><%= "Grade:  #{@school.grade}" %></h3>
<br>
<%= "Teacher or Coach email:  #{@school.teacher_email}" %></h3>
<br>
<%= "Teacher or Coach Cell:  #{@school.teacher_cell}" %></h3>
<br>
<%= "School Name:  #{@school.schoolname}" %></h3><br>
<%= "School Email:  #{@school.school_email}" %></h3><br>
<%= "School Website:  #{@school.school_url}" %></h3><br>
<%= "School Phone:  #{@school.school_phone}" %></h3><br>
<%= "Emergency Contact Name:  #{@school.emergency_contactname}" %></h3><br>
<%= "Emergency Contact Phone:  #{@school.emergency_contactphone}" %></h3><br>
<%= "Street Address:  #{@school.address1}, #{@school.address2}" %></h3>
<br>
<%= "City, State, Zip:  #{@school.city}, #{@school.state}, #{@school.zip}" %></h3>
<br>
<br>
<br>
<%= link_to "Add more schools", new_school_path %>
<br>
<br>
<%= link_to "Add Kids", new_child_path %>
