<!-- school.show.html.erb -->
<br>
<div class="school_clr">
<h1>School, Class or Hobby Info</h1>
<br>
<br>
<h3><%= "Teacher or Coach Name:  #{@school.teachername}" %><br>
<%= "Class Name:  #{@school.class_name}" %><br>
<%= "Grade:  #{@school.grade}" %><br>
<%= "Teacher or Coach email:  #{@school.teacher_email}" %><br>
<%= "Teacher or Coach Cell:  #{@school.teacher_cell}" %><br>
<%= "School Name:  #{@school.schoolname}" %><br>
<%= "School Email:  #{@school.school_email}" %><br>
<%= "School Website:  #{@school.school_url}" %><br>
<%= "School Phone:  #{@school.school_phone}" %><br>
<%= "Emergency Contact Name:  #{@school.emergency_contactname}" %><br>
<%= "Emergency Contact Phone:  #{@school.emergency_contactphone}" %><br>
<%= "Street Address:  #{@school.address1}, #{@school.address2}" %><br>
<%= "City, State, Zip:  #{@school.city}, #{@school.state}, #{@school.zip}" %></h3>
<br>
<br>
</div><!--  close school_clr -->
<br>
<%= link_to "Add more schools", new_school_path %>
<br>
<br>
<%= link_to "Add Kids", new_child_path %>
