<!-- parent.edit.html.erb -->
<div class="parent_clr">
<br>
<h1>Edit Your Account Info</h1>
<div class="belly_div">
   <%= simple_form_for @parent do |f| %>
      <%= f.input :fname, label: false %>
      <%= f.input :lname, label: false %>
      <%= f.input :email, label: false %>
      <%= f.input :cellphone, label: false %>
      <%= f.input :address1, label: false %>
      <%= f.input :address2, label: false, placeholder: "2nd line of Street Address" %>
      <%= f.input :city, label: false %>
      <%= f.input :state, label: false %>
      <%= f.input :zipcode, label: false %>
      <%= f.input :password, label: false %>
      <%= f.button :submit, "Update Info", class: "my-button" %>
    <% end %>

  </div><!--  Close belly div -->
  <br>
    <br>
    <br>
</div><!--  close parent_clr -->
<br>
<br>
<br>
<br>
<%= link_to "See Your family account", parent_path(@parent.id) %>
<br>
<%= link_to "Log Out", logout_path, method: :delete %>
<br>

