<!-- parent.edit.html.erb -->

<h3>Edit Your Account Info</h3>
<%= form_for @parent do |f|%>
      <%= f.label :Parent_First_Name %> <%= f.text_field :fname %><br>
      <%= f.label :Parent_Last_Name %> <%= f.text_field :lname %><br>
      <%= f.label :Parent_Email %> <%= f.text_field :email %><br>
      <%= f.label :Parent_Mobilephone %> <%= f.text_field :cellphone %><br>
      <%= f.label :Parent_AddressLine1 %> <%= f.text_field :address1 %><br>
      <%= f.label :AddressLine2 %> <%= f.text_field :address2 %><br>
      <%= f.label :City %> <%= f.text_field :city %><br>
      <%= f.label :State %> <%= f.text_field :state %><br>
      <%= f.label :Zipcode %> <%= f.text_field :zipcode %><br>
      <%= f.label :PASSWORD %><%= f.text_field :password %>
	<%= f.submit %>
	<% end %>
<br>
<br>
<%= link_to "Add more parents", new_parent_path %>
<br>
<br>
<%= link_to "Add Kids", new_child_path %>
<br>
<br>
<%= link_to "Log Out", logout_path, method: :delete %>

