<!-- parent.show.html.erb -->
<br>
<h1>Confirm Your Contact Info</h1>
<br>
<br>
<h3><%= "Full Name:  #{@parent.fname} #{@parent.lname}" %></h3>
<br>
<h3><%= "Email:  #{@parent.email}" %></h3>
<br>
<h3><%= "Cellphone:  #{@parent.cellphone}" %></h3>
<br>
<%= "Street Address:  #{@parent.address1}, #{@parent.address2}" %></h3>
<br>
<%= "City, State, Zip:  #{@parent.city}, #{@parent.state}, #{@parent.zipcode}" %></h3>
<br>
<%= "Password:  #{@parent.password}" %></h3>
<br>
<br>
<br>

<%= link_to "Add more parents", new_parent_path %>
<br>
<br>
<%= link_to "Add Kids", new_child_path %>


