<!-- parent.show.html.erb -->
<div class='parent_clr'>
	<br>
	<h1>Confirm Your Family Contact Info</h1>
	<div class="belly_div">
	<u>Full Name</u>:&nbsp<%= "#{@parent.fname} #{@parent.lname}" %><br>
	<u>Email</u>:&nbsp<%= "#{@parent.email}" %><br>
	<u>Cellphone</u>:&nbsp<%= "#{@parent.cellphone}" %><br>
	<u>Street Address</u>:&nbsp<%= "#{@parent.address1} #{@parent.address2}" %><br>
	<u>City, State, Zip</u>:&nbsp<%= "#{@parent.city}, #{@parent.state}, #{@parent.zipcode}" %><br>
	<u>Password</u>:&nbsp<%= "#{@parent.password}" %>

	</div> <!--  close belly_div -->
	<br>
<!-- ###### BEGIN CHILD PORTION OF PAGE ###### -->
<br>
<h1> Children in your family account</h1>

<div class="kid_belly_div">
<!-- ##### if @parent.children != nil show list of @parent.children ###### -->
<table border="0" style="width:100%">
						 <tr>    
						   	<td><u>Child's Name</u></td>
						    <td><u>Child's Age</u></td>
						    <td><u>Child's School</u></td>
						    <td><u>See Child's Info</u></td>
						  </tr>
					 <% @child.each do |w| %>
						 <% if @child == nil %>
								<tr>
						  			<td>
						  				<span>
						  					No children listed.
						  				</span>
						  			</td>
						  			<td>
						  				<span>
						  					&nbsp
						  				</span>
						  			</td>
						  			<td>
						  				<span>
						  					Add children below
						  				</span>			
						  			</td>
						  		</tr>
						 <% else %>
						  	<tr>	
								<td><%= w.fname %></td>
								<td><%= w.age_years %></td>
								<td><%= w.hobbyteachone %></td>
								<td><%= link_to "see child's page", child_path(id: w.id) %>	
							</tr>
						 <% end %> <!-- end if -->
						 <% end %><!--  end do -->
						</table>
					</div> <!-- end belly_div -->

<br>
<br>
</div><!-- ###### END CHILD PORTION OF PAGE ###### -->
<div class="yellow_e_div">
	<%= link_to "I have a kid to add to my account", new_child_path(@parent.id) %>
</div>
<div class="yellow_e_div">
	<%= link_to "EDIT your Family information ", edit_parent_path(@parent.id) %>
</div>	
<div class="pink_e_div">
	<%= link_to "Log Out", logout_path, method: :delete %>
</div>
<div class="yellow_e_div">
	<%= link_to "See a map of Classyparent homes in your area", parents_path %>
</div>


