<!DOCTYPE html>
<html>
<head>
  <title>Classyparent</title>
  <%= include_gon(:init => true) %>
<!-- ####### ABOVE LINE from https://github.com/gazay/gon ####### -->  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<!-- ########## RAILS CODE ABOVE ############### -->
<!-- # GMAPS4RAILS src links removed/replaced by my Google JS API # -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6E_JvHhk8b4SnD0wbWk9lOaX_AkRc1ug"
  type="text/javascript"></script>

<!--   ############# LINE BELOW IS SASS CODE ######### -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">


	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<!-- <link rel="stylesheet" type="text/css" href="/css/main.css"> -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

<!--   ############# LINE ABOVE IS SASS CODE ######### -->
</head>
<!-- ############### HEAD #################### -->
<!-- ############### BODY #################### -->
<body>
	<div class="navbar"><img src="/assets/classyparent.gif"><!--  logo -->
		<div class="top_button_signup">
			<br>
			<%= link_to "Sign Up", new_parent_path %>
		</div><!--  close top button signup -->
		<div class="top_button_login">
			<br>
			<%= link_to "Log In", login_path %>
		</div><!--  close top button login -->
	</div><!--  close navbar -->




<%= yield %>

</body>
</html>